<a href="https://colab.research.google.com/github/kimtaekyungim/2023-11-7/blob/main/py2301015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


\

1. To-DO List를 작성하시오.
  - 2023년 10월 19일
  - (1) 09:20 도서관에서 책을 빌리기
  - (2) 11:10 컴퓨팅적사고와 기초코딩 수업
  - (3) 13:00 점심식사
  - (4) 14:10 교양수업
  - (5) 16:00 파이썬 공부 및 레포트 작성
  - (6) 17:40 저녁식사 및 집안일 돕기
  - (7) 19:00 LOL 하기

In [ ]:
print ("1. To Do List를 작성하시오") #print문 입력
print ("2023월 10월 19일")  #print문 입력
print ("(1) 09:20 도서관에서 책을 빌리기 ")  #print문 입력
print ("(2) 11:10 컴퓨팅적사고와 기초코딩 수업")  #print문 입력
print ("(3) 13:00 점심식사")  #print문 입력
print ("(4) 14:10 교양수업")  #print문 입력
print ("(5) 16:00 파이썬 공부 및 레포트 작성")  #print문 입력
print ("(6) 17:40 저녁식사 및 집안일 돕기") #print문 입력
print ("(7) 19:00 LOL 하기")  #print문 입력

1. To Do List를 작성하시오
2023월 10월 19일
(1) 09:20 도서관에서 책을 빌리기
(2) 11:10 컴퓨팅적사고와 기초코딩 수업
(3) 13:00 점심식사
(4) 14:10 교양수업
(5) 16:00 파이썬 공부 및 레포트 작성
(6) 17:40 저녁식사 및 집안일 돕기
(7) 19:00 LOL 하기

2. 인사말 출력하기
  - 식사하셧습니까? 행님

In [ ]:
print ("2. 인사말 출력하기 ")  #print문 입력
print ("식사하셧습니까? 행님")  #print문 입력

2. 인사말 출력하기
식사하셧습니까? 행님

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
  -  박보검 : 90점
  -  션     : 92점
  -  도룡용 : 80점
  -  차은우 : 99점
  -  국어 점수 순위
  - 1등 차은우
  - 2등 션
  - 3등 박보검
  - 4등 도룡용

In [ ]:
n1 = input("학생의 점수를 입력하시오:")  #n1이용해서 변수 설정
n2 = input("학생의 점수를 입력하시오:")  #n2이용해서 변수 설정
n3 = input("학생의 점수를 입력하시오:")  #n3이용해서 변수 설정
n4 = input("학생의 점수를 입력하시오:")  #n4이용해서 변수 설정
print("국어 점수 순위")  #print문 입력
print("1등",n4) #print문 입력
print("2등",n2) #print문 입력
print("3등",n1) #print문 입력
print("4등",n3) #print문 입력

학생의 점수를 입력하시오:박보검 : 90점
학생의 점수를 입력하시오:션 : 92점
학생의 점수를 입력하시오:도룡용 : 80점
학생의 점수를 입력하시오:차은우 : 99점
국어 점수 순위
1등 차은우 : 99점
2등 션 : 92점
3등 박보검 : 90점
4등 도룡용 : 80점

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
n1  = int(input("n1의 값을 입력하시오.:"))  #n1이용해서 변수 설정
n2  = int(input("n2의 값을 입력하시오.:"))  #n2이용해서 변수 설정
total =  n1+n2 #total값 정의
average = total / 2 #average값 정의
print(average)  #print문 입력

n1의 값을 입력하시오.:1
n2의 값을 입력하시오.:1
1.0